# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# Dataset (do not push heavy data)
dataset/

# Uploaded Images
static/images/uploads/

# Large Models (if >100MB)
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db